<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sudanese Business Club</title>

    <!-- Custom fonts for this template-->
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/public/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
                <div class="sidebar-brand-text mx-3">Admin Panel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="posts">
                    <i class="fa fa-list"></i>
                    <span>Posts</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="govermentProject">
                    <i class="fa fa-list"></i>
                    <span>Government Projects</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="projects">
                    <i class="fa fa-list"></i>
                    <span>Projects</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="jobs">
                    <i class="fa fa-list"></i>
                    <span>Jobs</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    <i class="fa fa-list"></i>
                    <span>Job Post Categories</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="jobCategoryList">Job Category</a>
			<a class="collapse-item" href="skill_List">Skills</a>
                        <a class="collapse-item" href="jobTypeList">Job Type</a>
                        <a class="collapse-item" href="workplaceTypeList">Work Place Type</a>
                        <a class="collapse-item" href="experienceList">Experienced</a>
                        <a class="collapse-item" href="salaryBudgetList">Salary Budget</a>
                        <a class="collapse-item" href="qualificationList">Qualification</a>
                        <a class="collapse-item" href="extraBenifitList">Extra Benifits</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="jobSeeker">
                    <i class="fa fa-list"></i>
                    <span>Job Seeker</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-list"></i>
                    <span>Organization</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="approveStartupList">StartUps</a>
                        <a class="collapse-item" href="approveExperiencedCompanyList">Experienced Companies</a>
                        <a class="collapse-item" href="approveBankerList">Bankers</a>
                        <a class="collapse-item" href="approveInvestorList">Investors</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="subAdmin">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Sub-Admin</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="404">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Customer Support</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="subscription_list">
                    <i class="fa fa-credit-card"></i>
                    <span>Subscription Plan</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Profile Management</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="change_password">Change Password</a>
                        <a class="collapse-item" href="profile">Profile</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">SUDANESE - Admin</span>
                                <img class="img-profile rounded-circle" src="../../upload/<%=profileImage%>">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <% if(messages.success) {%>
                                    <div class="d-flex justify-content-between alert alert-success" role="alert">
                                        <span><strong>successfully!!!</strong>
                                            <%= messages.success %>
                                        </span>
                                        <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <% } %>
                                        <% if(messages.error) {%>
                                            <div class="d-flex justify-content-between alert alert-danger" role="alert">
                                                <span><strong>!!</strong>
                                                    <%= messages.error %>
                                                </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-hidden="true">×</button>
                                            </div>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mt-3 mb-3">Jobs</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Job Data</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Title</td>
                                            <td>Company</td>
                                            <td>Address</td>
                                            <td>createdAt</td>
                                            <td>Action</td>
                                        </tr>
                                    <tbody>
                                        <% data.forEach(function(value) { %>
                                            <tr>
                                                <td>
                                                    <%=value.title%>
                                                </td>
                                                <td>
                                                    <%=value.company%>
                                                </td>
                                                <td>
                                                    <%=value.address%>
                                                </td>
                                                <td>
                                                    <%=value.date%>
                                                </td>
                                                <td>
                                                    <a href="delete_job/<%=value._id%>" class="btn btn-primary"
                                                        title="Delete"><i class="fa fa-trash"></i></a>
                                                    <a class="btn btn-primary" title="view"
                                                        class="btn btn-primary btn-sm waves-effect waves-light"
                                                        data-toggle="modal" data-target=".viewModel"
                                                        onclick="openJobDetail('<%=value._id%>')"><i
                                                            class="fa fa-eye"></i></a>
                                                    <% if(value.status) {%>
                                                        <a title="block Job"
                                                            href="updateJobStatus/jobs/0/?id=<%=value._id%>"><span
                                                            class="badge badge-warning">Active</span></a>
                                                    <% } %>
                                                    <% if(value.status==false) {%>
                                                        <a title="Activate Job"
                                                            href="updateJobStatus/jobs/1/?id=<%=value._id%>"><span
                                                            class="badge badge-danger">Blocked</span></a>
                                                    <% } %>

                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Models Start -->

    <div class="modal fade  viewModel" id="viewModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel">View Job Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="card-body">

                        <div class="form-group row">
                            <label for="example-name-input" class="col-sm-2 col-form-label">Job Document</label>
                            <div class="col-sm-10 jobFile">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-title-input" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <h6 class="example-title-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-jobType-input" class="col-sm-2 col-form-label">Job Type
                            </label>
                            <div class="col-sm-10">
                                <h6 class="example-jobType-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-workPlace-input" class="col-sm-2 col-form-label">Workplace Type</label>
                            <div class="col-sm-10">
                                <h6 class="example-workPlace-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-address-input" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <h6 class="example-address-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-companyName-input" class="col-sm-2 col-form-label">Company Name
                            </label>
                            <div class="col-sm-10">
                                <h6 class="example-companyName-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-jobCategory-input" class="col-sm-2 col-form-label">Job Category
                                Category</label>
                            <div class="col-sm-10">
                                <h6 class="example-jobCategory-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-skillRequired-input"
                                class="col-sm-2 col-form-label">skillRequired</label>
                            <div class="col-sm-10">
                                <h6 class="example-skillRequired-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-experience-input" class="col-sm-2 col-form-label">Experience
                                Required</label>
                            <div class="col-sm-10">
                                <h6 class="example-experience-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-description-input" class="col-sm-2 col-form-label">Job
                                Description</label>
                            <div class="col-sm-10">
                                <h6 class="example-description-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-jobResponsibility-input" class="col-sm-2 col-form-label">Job
                                Responsibility</label>
                            <div class="col-sm-10">
                                <h6 class="example-jobResponsibility-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-salaryBudget-input" class="col-sm-2 col-form-label">Salary Budget
                            </label>
                            <div class="col-sm-10">
                                <h6 class="example-salaryBudget-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-qualification-input" class="col-sm-2 col-form-label">Qualification
                            </label>
                            <div class="col-sm-10">
                                <h6 class="example-qualification-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-extraBenefit-input" class="col-sm-2 col-form-label">Extra-Benefit
                            </label>
                            <div class="col-sm-10">
                                <h6 class="example-extraBenefit-input"></h6>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="example-date-input" class="col-sm-2 col-form-label">CreatedAt</label>
                            <div class="col-sm-10">
                                <h6 class="example-date-input"></h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!-- End Models -->

    <!-- Bootstrap core JavaScript-->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/public/js/demo/datatables-demo.js"></script>

    <!-- Js Start -->
    <script>
        function openJobDetail(data) {
            console.log(data, 'data edit candidate');
            $('#container').find('img').remove();
            $.ajax({
                url: "/getJobDetail",
                data: { _id: data },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response)
                    $(".userId").html(response._id);
                    $(".jobFile").html('<img style="height: 40px;" src="/upload/' + response.data.jobFile + '">');
                    $(".example-title-input").html(response.data.title);
                    $(".example-jobType-input").html(response.data.jobType);
                    $(".example-workPlace-input").html(response.data.workplaceType);
                    $(".example-address-input").html(response.data.address);
                    $(".example-companyName-input").html(response.data.company);
                    $(".example-jobCategory-input").html(response.data.jobCategory);
                    $(".example-skillRequired-input").html(response.data.skillRequired);
                    $(".example-experience-input").html(response.data.experienceRequired);
                    $(".example-description-input").html(response.data.jobDescription);
                    $(".example-jobResponsibility-input").html(response.data.jobResponsibility);
                    $(".example-salaryBudget-input").html(response.data.salaryBudget);
                    $(".example-qualification-input").html(response.data.qualification);
                    $(".example-extraBenefit-input").html(response.data.extraBenefit);
                    $(".example-date-input").html(response.data.date);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError, 'error')
                    $(".example-text-input").html('');
                    $(".example-text-input").html('');
                    $(".example-type-input").html('');
                    $(".example-address-input").html('');
                }
            });
        }
    </script>
    <!-- End Js -->

</body>

</html>